/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
/* .btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} */

/* app bar */
.appbar {
  background-color: #f7d736;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.logo {
  height: 50px;
  margin-right: 15px;
}

.subtitle {
  font-size: 18px;
  color: #2c2c2c; 
}


.container {
  margin: auto;
  padding: 28px;

}

.form-card {
  width: 500px;
  margin: auto;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.form-card-title {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.autoresize {
  width: 500px;
  font-family: 'Roboto';
  font-size: 15px;
  border: none;
}

.btn {
  width: 500px;
  padding: 10px;
  border-radius: 6px;
  background-color: #f7d736;
  font-family: 'Roboto';
  font-weight: 700;
  border: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.card-color-1 {
  background-color: #ead3a7;
}

.card-color-2 {
  background-color: #9de0f5;
}

.card-color-3 {
  background-color: #ef89ba;
}

.card-color-4 {
  background-color: #fae890;
}

.card-color-5 {
  background-color: #abe9c1;
}

.card {
  padding: 10px;
  border-radius: 6px;
  width: 200px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card-container {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-title {
  margin-bottom: 10px;
  font-family: 'Permanent Marker';
}

.card-content p {
  font-family: 'Permanent Marker';
  font-size: 13px;
  color: #4c4c4c;
}